STRIPE_SECRET_KEY=sk_test_YOUR_STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=whsec_YOUR_STRIPE_WEBHOOK_SECRET
MAILCHIMP_API_KEY=your_mailchimp_api_key-us19
MAILCHIMP_SERVER_PREFIX=us19
MAILCHIMP_AUDIENCE_ID=your_audience_id
CLIENT_URL=http://localhost:8888/